<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Swagger" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
          <match ignoreCase="true" url="swagger/docs/v1"/>
          <action type="Redirect" url="swagger/v1/swagger.json" redirectType="Temporary"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
